<html lang="en">
<head>
    <%-include('./partials/header')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Blogs | BlogMore</title>
</head>
<body>
<div class="container">
    <header class="py-3 mb-4 border-bottom">
        <div class="d-flex justify-content-between align-items-center text-dark text-decoration-none">
            <a href="/" class="text-decoration-none"><span class="fs-4 fw-bold text-dark">BlogMore</span></a>
            <div>
            <a href="/article/write"><button class="btn btn-secondary"><i class="bi bi-pencil"></i>&nbsp;Write</button></a>
            <a href="https://twitter.com/shuklaritvik06"><button class="btn btn-primary"><i class="bi bi-twitter"></i>&nbsp;Follow me</button></a>
            </div>
        </div>
    </header>
    <%for(let i=0;i<blogs.length;i++){%>
    <div class="container row mb-3">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2><%=blogs[i].title%></h2>
                <p><%=blogs[i].date%></p>
                <p><%=blogs[i].description%></p>
                <div class="d-flex">
                <a href="/article/read/<%= blogs[i]._id %>"><button class="btn btn-success me-2" type="button"><i class="bi bi-book"></i>&nbsp;Read Blog</button></a>
                <a href="/article/edit/<%= blogs[i]._id %>"><button class="btn btn-dark me-2" type="button"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button></a>
                <form action="/article/<%= blogs[i]._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i>&nbsp;Delete</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <%if(blogs.length==0){%>
    <div class="container row mb-3">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2>Welcome 😄</h2>
                <p>Thank you for choosing BlogMore App!</p>
            </div>
        </div>
    </div>
    <%}%>
</div>
</body>
</html>